Repository yourpalharvey/Bubble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-testing, backend-deploying, frontend-testing, frontend-deploying

.gitlab-ci.yml:

stages:          # List of stages for jobs, and their order of execution
    - testBackend
    - deployBackend
    - testFrontend
    - deployFrontend


backend-testing:
    image: gradle:alpine
    stage: testBackend
    script:
        - cd backend
        - gradle test
        - echo -e "Backend is being tested"
    only:
        changes:
            - backend/*

backend-deploying:
    stage: deployBackend
    script:
        - echo -e "Backend is being deployed"
    only:
        changes:
            - backend/*

frontend-testing:       # This job runs in the build stage, which runs first.
    image: node:6.9.1
    stage: testFrontend
    script:
        - npm install --global yarn
        - cd frontend
        - rm -r node_modules
        - yarn install
        - yarn test
    only:
        changes:
            - frontend/*

frontend-deploying:
    stage: deployFrontend
    script:
        - echo -e "Frontend is being deployed"
    only:
        changes:
            - frontend/*

deployment testing
  frontend/.next/build-manifest.json
  frontend/.next/cache/webpack/client-development/1.pack
  frontend/.next/cache/webpack/client-development/10.pack
  frontend/.next/cache/webpack/client-development/5.pack
  frontend/.next/cache/webpack/client-development/6.pack
  frontend/.next/cache/webpack/client-development/8.pack
  frontend/.next/cache/webpack/client-development/9.pack
  frontend/.next/cache/webpack/client-development/index.pack
  frontend/.next/cache/webpack/client-development/index.pack.old
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/pages-manifest.json
  frontend/.next/static/chunks/webpack.js
  frontend/.next/static/development/_buildManifest.js
  frontend/.next/trace
Due: none

Refactored code
  videoStreaming/index.js
Due: none

ready for pushing
  frontend/26-as-a-developer-i-would-like-a-backend-that-will-allow-users-to-stream-video
Due: frontend-testing, frontend-deploying

Changes successful
  frontend/.gitignore
  frontend/.next/cache/webpack/client-development/1.pack
  frontend/.next/cache/webpack/client-development/10.pack
  frontend/.next/cache/webpack/client-development/4.pack
  frontend/.next/cache/webpack/client-development/5.pack
  frontend/.next/cache/webpack/client-development/6.pack
  frontend/.next/cache/webpack/client-development/8.pack
  frontend/.next/cache/webpack/client-development/9.pack
  frontend/.next/cache/webpack/client-development/index.pack
  frontend/.next/cache/webpack/client-development/index.pack.old
  frontend/.next/cache/webpack/server-development/0.pack
  frontend/.next/cache/webpack/server-development/1.pack
  frontend/.next/cache/webpack/server-development/10.pack
  frontend/.next/cache/webpack/server-development/11.pack
  frontend/.next/cache/webpack/server-development/12.pack
  frontend/.next/cache/webpack/server-development/3.pack
  frontend/.next/cache/webpack/server-development/5.pack
  frontend/.next/cache/webpack/server-development/8.pack
  frontend/.next/cache/webpack/server-development/9.pack
  frontend/.next/cache/webpack/server-development/index.pack
  frontend/.next/cache/webpack/server-development/index.pack.old
  frontend/.next/server/pages-manifest.json
  frontend/.next/trace
  frontend/26-as-a-developer-i-would-like-a-backend-that-will-allow-users-to-stream-video
  frontend/yarn-error.log
Due: frontend-testing, frontend-deploying

server.js removed from folder
  .DS_Store
  videoStreaming/README.md
  videoStreaming/package-lock.json
  videoStreaming/package.json
Due: none

server.js added
  videoStreaming/server.js
  yarn.lock
Due: none

Moved files to follow structure
  backend/src/main/java/com/example/Team/A/Bubble/Controller/bubbleController.java
  backend/src/main/java/com/example/Team/A/Bubble/Model/Bubble.java
Due: none

pipeline split
  .gitlab-ci.yml
Due: none

pipeline split
  .gitlab-frontedn-ci.yml
  backend/.gitlab-ci.yml
  backend/src/main/java/com/example/Team/A/Bubble/apis/bubbleController.java
  backend/src/main/java/com/example/Team/A/Bubble/models/Bubble.java
  frontend/.gitlab-ci.yml
Due: backend-testing, backend-deploying, frontend-testing, frontend-deploying

Fixed ci error in backend
  backend/.gitlab-ci.yml
Due: backend-testing, backend-deploying

Testing frontend ci
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

update to latest node image
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

removing install step
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

change folder
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

install yarn
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Change directory into frontend
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

yarn install packages
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Change to npm
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Figuring out why install failing
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Change in scripting method
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

change to yarn
  .gitlab-frontedn-ci.yml
  frontend/.gitlab-ci.yml
  frontend/yarn.lock
Due: frontend-testing, frontend-deploying

change to yarn
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Change node version
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Install yarn
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

yarn test
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Test with directory change
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Run tests
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

switch to npm
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

remove before_scripts
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

set test to run in node docker environment
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

change directory every time
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying
