Repository yourpalharvey/Bubble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-testing, backend-deploying, frontend-testing, frontend-deploying

backend-testing:
  image: gradle:alpine
  stage: testBackend
  script:
  - cd backend
  - gradle test
  - echo -e "Backend is being tested"

backend-deploying:
  stage: deployBackend
  script:
  - echo -e "Backend is being deployed"

frontend-testing:
  image: node:6.9.1
  stage: testFrontend
  script:
  - npm install --global yarn
  - cd frontend
  - rm -r node_modules
  - yarn install
  - yarn test

frontend-deploying:
  stage: deployFrontend
  script:
  - echo -e "Frontend is being deployed"

Remove install phase as separate section
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Changes to both frontend and backend script
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend-testing, backend-deploying, frontend-testing, frontend-deploying

Deafult to node docker image
  frontend/.gitlab-ci.yml
Due: frontend-testing, frontend-deploying

Create sql database in scripts
  backend/.gitlab-ci.yml
Due: backend-testing, backend-deploying

settings dropdown updated
  frontend/components/navbar/Navbar.module.css
  frontend/components/navbar/index.js
Due: none

settings dropdown updated with links
  frontend/components/navbar/index.js
Due: none

Remove redux Boilerplate
  backend/src/main/java/com/example/Team/A/Bubble/apis/UsersController.java
  backend/src/main/java/com/example/Team/A/Bubble/repositories/UsersRepository.java
  backend/src/main/java/com/example/Team/A/Bubble/service/UsersService.java
  backend/src/main/java/com/example/Team/A/Bubble/service/implementation/UsersServiceImplementation.java
  frontend/pages/_app.js
  frontend/redux/slice/authSlice.js
  frontend/redux/store.js
Due: none

Update UserController. PairProgrammed w/ Harvey
  backend/src/main/java/com/example/Team/A/Bubble/apis/UsersController.java
Due: none

CheckAuth added: PairProgramming with Harvey
  frontend/.next/cache/webpack/client-development/0.pack
  frontend/.next/cache/webpack/client-development/12.pack
  frontend/.next/cache/webpack/client-development/13.pack
  frontend/.next/cache/webpack/client-development/3.pack
  frontend/.next/cache/webpack/client-development/4.pack
  frontend/.next/cache/webpack/client-development/index.pack
  frontend/.next/cache/webpack/client-development/index.pack.old
  frontend/.next/cache/webpack/server-development/0.pack
  frontend/.next/cache/webpack/server-development/11.pack
  frontend/.next/cache/webpack/server-development/12.pack
  frontend/.next/cache/webpack/server-development/15.pack
  frontend/.next/cache/webpack/server-development/9.pack
  frontend/.next/cache/webpack/server-development/index.pack
  frontend/.next/cache/webpack/server-development/index.pack.old
  frontend/.next/server/pages-manifest.json
  frontend/.next/static/chunks/webpack.js
  frontend/.next/trace
  frontend/pages/api/auth/check-auth.js
Due: none

Try-catch around functions
  .gitignore
  backend/src/main/java/com/example/Team/A/Bubble/apis/UsersController.java
  backend/src/main/java/com/example/Team/A/Bubble/dto/Users.java
  backend/src/main/java/com/example/Team/A/Bubble/models/UsersModel.java
  backend/src/main/java/com/example/Team/A/Bubble/repositories/UsersRepository.java
  backend/src/main/java/com/example/Team/A/Bubble/service/UsersService.java
  backend/src/main/java/com/example/Team/A/Bubble/service/implementation/UsersServiceImplementation.java
  frontend/.next/cache/webpack/client-development/13.pack
  frontend/.next/cache/webpack/client-development/4.pack
  frontend/.next/cache/webpack/client-development/index.pack
  frontend/.next/cache/webpack/client-development/index.pack.old
  frontend/.next/cache/webpack/server-development/0.pack
  frontend/.next/cache/webpack/server-development/1.pack
  frontend/.next/cache/webpack/server-development/2.pack
  frontend/.next/cache/webpack/server-development/6.pack
  frontend/.next/cache/webpack/server-development/index.pack
  frontend/.next/cache/webpack/server-development/index.pack.old
  frontend/.next/server/pages-manifest.json
  frontend/.next/static/chunks/webpack.js
  frontend/.next/trace
  frontend/pages/api/auth/check-auth.js
  frontend/pages/api/auth/sign-in.js
  frontend/pages/api/auth/sign-up.js
Due: none

Save changes
  backend/src/main/java/com/example/Team/A/Bubble/apis/BubbleController.java
  backend/src/main/java/com/example/Team/A/Bubble/models/Bubble.java
  backend/src/main/java/com/example/Team/A/Bubble/models/checkUsername.java
Due: none

BackendFixed
  backend/src/main/java/com/example/Team/A/Bubble/dto/Users.java
  backend/src/main/java/com/example/Team/A/Bubble/models/UsersModel.java
  backend/src/main/java/com/example/Team/A/Bubble/service/implementation/UsersServiceImplementation.java
Due: none

JWT returned when signing in: Pair-Programming with Harvey
  backend/build.gradle
  backend/src/main/java/com/example/Team/A/Bubble/apis/UsersController.java
  backend/src/main/java/com/example/Team/A/Bubble/dto/Users.java
  backend/src/main/java/com/example/Team/A/Bubble/models/UsersModel.java
  backend/src/main/java/com/example/Team/A/Bubble/service/implementation/UsersServiceImplementation.java
Due: backend-testing, backend-deploying

Decode JWT to get user: Pair Programming with Harvey
  backend/src/main/java/com/example/Team/A/Bubble/apis/UsersController.java
  backend/src/main/java/com/example/Team/A/Bubble/dto/Users.java
  backend/src/main/java/com/example/Team/A/Bubble/models/UsersModel.java
  backend/src/main/java/com/example/Team/A/Bubble/repositories/UsersRepository.java
  backend/src/main/java/com/example/Team/A/Bubble/service/UsersService.java
  backend/src/main/java/com/example/Team/A/Bubble/service/implementation/UsersServiceImplementation.java
Due: none

Pages updated to reflect loggedIn status: Pair Programming with Harvey
  frontend/pages/explore/index.js
  frontend/pages/hosted/index.js
  frontend/pages/index.js
  frontend/pages/schedule-bubble.js
  frontend/pages/start-streaming/create-bubble.js
  frontend/pages/start-streaming/join-bubble/[bid].js
  frontend/pages/watchStreams/index.js
Due: none

Editing Profile has been implemented.
  backend/src/main/java/com/example/Team/A/Bubble/apis/UsersController.java
  backend/src/main/java/com/example/Team/A/Bubble/exceptions/ResourceNotFoundException.java
  backend/src/main/java/com/example/Team/A/Bubble/service/UsersService.java
  backend/src/main/java/com/example/Team/A/Bubble/service/implementation/UsersServiceImplementation.java
Due: none

SQL has been converted into PostgresSql
  backend/build.gradle
  backend/src/main/resources/application.properties
Due: backend-testing, backend-deploying

Path conditions:
  backend-testing: any of: backend/*
  backend-deploying: any of: backend/*
  frontend-testing: any of: frontend/*
  frontend-deploying: any of: frontend/*
